body {
    margin: 0;
    padding: 0;
}

#container{
    margin-top: 10%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
}

#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

