/* Rule_Mod4_2.css */

/* Apply a grid with three columns for the 3 sidebyside divs */
#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#image-gallery {
    margin-top: 10%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

figure {
    text-align: center;
}

#image-gallery img {
    width: 300px;
    height: auto; 
}

figcaption, h3 {
    color: initial; 
}
